<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>ChessFlask</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <img src="{{url_for('static', filename='splash.jpg')}}" width="100%" />
        <p style="text-align: center;">
            <a href="/newgame">
                <button>Start new game</button>
            </a><br />
            Photo by <a href="https://unsplash.com/@hpzworkz?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Hassan Pasha</a> on <a href="https://unsplash.com/s/photos/chess?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a>
        </p>
    </body>
</html>